<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KafetaniApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kafetani"
        android:usesCleartextTraffic="true">
        <!--
          usesCleartextTraffic="true" -> mengizinkan koneksi HTTP polos (bukan HTTPS).
          Ini WAJIB ada selama backend Laravel masih jalan lokal lewat
          `php artisan serve` (http://, tanpa SSL). Kalau nanti backend sudah
          online dengan HTTPS asli, atribut ini boleh dihapus/di-set false lagi.
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kafetani">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
